
<script type="text/template" id="all-inventory">
	<div id="all-inventory-div">
		<%= inventory.ingredient %><button class="avail_butt">Available?</button><button class="delete_butt">Delete</button><button id="search_butt" class="<%=inventory.ingredient%>-<%=inventory.id%>">Search</button>
	</div>
</script>

<script type="text/template" id="show-inventory">
	<div id="show-inventory-div">
	<%=inventory.ingredient%>
	//recipes from joined table, same functionality as all-recipes
	</div>
</script>

<script type="text/template" id="search-results">
	<div id="search-results-div">
		<img class="recipe_pic" src="<%= recipe.image %>">
		<h2<a href="#recipe/<%=recipe.id%>" class="recipe_title"> <%= recipe.name %></a></h2>
		<p class="recipe_ingredients"><%=recipe.ingredients%></p>
		<button class="save-button">Save Recipe</button>
	</div>
</script>

<script type="text/template" id="all-recipes">
	<div id="all-recipes-div">
		<img class="recipe_pic" src="<%= recipe.image %>">
		<h2<a href="#recipe/<%=recipe.id%>" class="recipe_title"> <%= recipe.name %></a></h2>
		<p class="recipe_ingredients"><%=recipe.ingredients%></p><button class="delete_butt">Delete</button>
	</div>
</script>
