<h2> Hello <%= @user.name %>. Ready to get cooking? </h2>

<%= form_for "/user/inventories", url: {action: "create"}, html:{class: "pure-form"} do |f|  %>
<%= f.text_field :ingredient, placeholder: "ingredient name"%>
<%= f.select :group do%>
<%[["Protein", "protein"],["Produce", "produce"],["Dairy", "dairy"],["Grain", "grain"]].each do |c| -%>
<%= content_tag(:option, c.first, value:c.last)%>
<%end%>
<%end%>
<%= f.button "add", html:{class: "pure-button", id:"button-success"}%>
<% end %>

<div id="content"></div>

<script type="text/template" id="active-recipe"> 
	<div id="active-recipe-div">
		<img class="recipe_pic" src="{{= recipe.image}}">
		<h2 class="recipe_title"> {{=  recipe.name }}</h2>

		<div id="update-ingredient">
		<h3> check if used: </h3> ingriedients from joined table 
		{{ inventory.forEach(function(obj){ }}
			{{= obj.ingredient }}
			<input type="checkbox" name="recipe{{= obj.id }}" value="{{= obj.id %>" > 
		{{ }) }}

		<button class="update-button">Update</button>
		</div>

		<p class="recipe_ingredients">{{= user.recipe[0].ingredients}}</p>
		<p class="recipe_instructions">{{= user.recipe[0].instructions}}</p>
	</div>
</script>

<script type="text/template" id="each-recipe">
	<div id="all-recipes-div">
		<h2<a href="#recipe/{{=recipe.id}}" class="recipe_title"> {{= recipe.name }}</a></h2>
		<p class="recipe_ingredients">{{=recipe.ingredients}}</p>
		<button id="{{= recipe.id }}" class="activate_butt" style="{{ if (recipe.active == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}">Activate</button>
		<button class="delete_butt">Delete</button>
	</div>
</script>

<script type="text/template" id="show-inventory">
	<div id="all-inventory-div">
		{{= inventory.ingredient }}
		<button id="avail-butt" style="{{ if (inventory.avail == true){ }} background-color: green {{ } else { }} background-color: red {{ } }}">Available?</button>
		<button class="delete-butt">Delete</button>
		<button id="search-butt">Search</button>
	</div>
</script>

<script type="text/template" id="each-inventory">
		<a href="#inventory/{{=inventory.id}}" class="inventory_title">{{=inventory.ingredient}}</a>
		<button class="delete_butt">Delete</button>
		<button id="search_butt" class="{{=inventory.ingredient}}-{{=inventory.id}}">Search</button>
</script>

<script type="text/template" id="search-results">
	<div id="search-results-div">
		<img class="recipe_pic" src="{{= recipe.image }}">
		<h2<a href="#recipe/{{=recipe.id}}" class="recipe_title"> {{= recipe.name }}</a></h2>
		<p class="recipe_ingredients">{{=recipe.ingredients}}</p>
		<button class="save-button">Save Recipe</button>
	</div>
</script>











