	<h2> Hello <%= @user.name %>. Ready to get cooking? </h2>
	<% if @user.inventories%>
	<h3> Protein: </h3><% @protein.each{|item|%><p> <%= item.ingredient %> <% } %> </p>
	 	<hr>
	<h3> Produce: </h3> <% @produce.each{|item|%><p> <%= item.ingredient %> <% } %> </p>
	 	<hr>
	<h3> Dairy: </h3><% @dairy.each{|item|%><p> <%= item.ingredient %> <% } %> </p>
	 	<hr>
	<h3> Grain: </h3><% @grain.each{|item|%><p> <%= item.ingredient %> <% } %> </p>
	<% end %>

