<!DOCTYPE html>
<html>
<head>
  <title>Appetite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
	<header> <h1> Welcome to APPetite or Re: Frigerator or Crock.ly  </h1> </header>
<body>
<% if flash %>
	<% flash.each do |name, message| %>
		<div class="flash-<%= name %>"><%= message %></div>
<% end %>

<%= yield %>

</body>
</html>
