<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
  <title>Appetite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  _.templateSettings = {
 evaluate    : /\{\{([\s\S]+?)\}\}/g,
 interpolate : /\{\{=([\s\S]+?)\}\}/g,
 escape      : /\{\{-([\s\S]+?)\}\}/g
};
	</script>
</head>
  <header class="header"> <div id="title_bar">    <div id="logo"></div>  </div>

  </header>
  <% if @user %>
  <h2 id="greeting"> Hello <%= @user.name %>. Ready to get cooking? </h2> 
<% end %>
<body>
<% if flash %>
	<% flash.each do |name, message| %>
		<div class="flash-<%= name %>"><%= message %></div>
	<% end %>
<% end %>

<%= yield %>

</body>
</html>