<!DOCTYPE html>
<html>
<meta charset="utf-8">
<%= favicon_link_tag 'favicon.png' %>
 <meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Frigeratr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
    _.templateSettings = {
     evaluate    : /\{\{([\s\S]+?)\}\}/g,
     interpolate : /\{\{=([\s\S]+?)\}\}/g,
     escape      : /\{\{-([\s\S]+?)\}\}/g
   };
 </script>
</head>
<header class="header"> <div id="title_bar">    <div id="logo"></div>  

  <div id= "menu_bar">

    <div class="menu_items">
    <% if @user %>
     <li id="menu_act_recipes"> <a class="nav_link" href="#"> Active Recipes </li> 
      <li id="menu_recipes"> <a class="nav_link" href="#recipes"> Saved Recipes </li> 
      <li id="menu_inv"> <a class="nav_link" href="#inventory"> Inventory </li> 
    <%= link_to "Logout", session_path, method: :delete, id: "menu_logout", class: "nav_link" %></li>
    <% end %>
    </div>
    </div>
  </div>


  </header>
  <% if @user %>
  <center><h2 id="greeting"> Hello, <%= @user.name %>. Let's get cooking! </h2> </center>
  <% end %>
  <body>
    <% if flash %>
    <% flash.each do |name, message| %>
    <div class="flash-<%= name %>"><%= message %></div>
    <% end %>
    <% end %>

    <%= yield %>

  </body>
  </html>